.main-body{
    background-color: aliceblue;
}

.nav{
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flexbox;
    justify-content:center;
    align-items: center;
    padding: 15px 20px;
    background-color: #7ec1e7;
    color: rgb(107, 113, 121);

}